<div class="container-fluid">
  <h4>Links of <span class="text-success"><%= @link.computer.hostname %></span></h4>
  <p>COMPUTER: <span class="text-primary"><%= @link.computer_link %></span></p>
  <p>TRAJECTORY: <span class="text-primary"><%= @link.trajectory %></span></p>
  <p>GROUP: <span class="text-primary"><%= @link.group %></span></p>
</div>
