<div class="container-fluid">
  <h4>Policy of <span class="text-success"><%= @policy.computer.hostname %></span></h4>
  <p>GUID: <span class="text-primary"><%= @policy.guid %></span></p>
  <p>NAME: <span class="text-primary"><%= @policy.name %></span></p>
</div>
